In [1]:
# initiate spark session
from pyspark.sql import SparkSession

In [2]:
# start a session 
spark = SparkSession.builder.appName("Spark-Assign").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/23 18:28:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# get spark details
spark

## Q1. Read the data, show it and Count the number of records.

In [4]:
case_df = spark.read.csv("Case.csv",header=True,inferSchema=True)
region_df = spark.read.csv("Region.csv",header=True,inferSchema=True)
timepro_df =spark.read.csv("TimeProvince.csv",header=True,inferSchema=True)

In [5]:
case_df.printSchema()

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [6]:
region_df.printSchema()

root
 |-- code: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- elementary_school_count: integer (nullable = true)
 |-- kindergarten_count: integer (nullable = true)
 |-- university_count: integer (nullable = true)
 |-- academy_ratio: double (nullable = true)
 |-- elderly_population_ratio: double (nullable = true)
 |-- elderly_alone_ratio: double (nullable = true)
 |-- nursing_home_count: integer (nullable = true)

In [7]:
timepro_df.printSchema()

root
 |-- date: string (nullable = true)
 |-- time: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- released: integer (nullable = true)
 |-- deceased: integer (nullable = true)

In [8]:
case_df.head(2)

[Row( case_id=1000001, province='Seoul', city='Yongsan-gu', group=True, infection_case='Itaewon Clubs', confirmed=139, latitude='37.538621', longitude='126.992652'),
 Row( case_id=1000002, province='Seoul', city='Gwanak-gu', group=True, infection_case='Richway', confirmed=119, latitude='37.48208', longitude='126.901384')]

In [9]:
case_df.count()

174

In [10]:
region_df.head(2)

[Row(code=10000, province='Seoul', city='Seoul', latitude=37.566953, longitude=126.977977, elementary_school_count=607, kindergarten_count=830, university_count=48, academy_ratio=1.44, elderly_population_ratio=15.38, elderly_alone_ratio=5.8, nursing_home_count=22739),
 Row(code=10010, province='Seoul', city='Gangnam-gu', latitude=37.518421, longitude=127.047222, elementary_school_count=33, kindergarten_count=38, university_count=0, academy_ratio=4.18, elderly_population_ratio=13.17, elderly_alone_ratio=4.3, nursing_home_count=3088)]

In [11]:
region_df.count()

244

In [12]:
timepro_df.head(2)

[Row(date='2020-01-20', time=16, province='Seoul', confirmed=0, released=0, deceased=0),
 Row(date='2020-01-20', time=16, province='Busan', confirmed=0, released=0, deceased=0)]

In [13]:
timepro_df.count()

2771

## q2. Describe the data with a describe function.

In [14]:
case_df.describe()

DataFrame[summary: string,  case_id: string, province: string, city: string, infection_case: string, confirmed: string, latitude: string, longitude: string]

In [15]:
region_df.describe()

DataFrame[summary: string, code: string, province: string, city: string, latitude: string, longitude: string, elementary_school_count: string, kindergarten_count: string, university_count: string, academy_ratio: string, elderly_population_ratio: string, elderly_alone_ratio: string, nursing_home_count: string]

In [16]:
timepro_df.describe()

DataFrame[summary: string, date: string, time: string, province: string, confirmed: string, released: string, deceased: string]

## Q3. If there is any duplicate value drop it.

In [17]:
unique_case_df = case_df.dropDuplicates()

In [18]:
unique_case_df.count()

174

In [19]:
unique_region_df = region_df.dropDuplicates()
unique_region_df.count()

244

In [20]:
unique_timepro_df = timepro_df.dropDuplicates()
unique_timepro_df.count()

2771

## q4. Use limit function for showcasing a limited number of records.

In [21]:
case_df.limit(5).show()

+--------+--------+------------+-----+--------------------+---------+---------+----------+
| case_id|province|        city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|  Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|   Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|     Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|   Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
+--------+--------+------------+-----+--------------------+---------+---------+----------+

In [24]:
case_df.columns

[' case_id',
 'province',
 'city',
 'group',
 'infection_case',
 'confirmed',
 'latitude',
 'longitude']

In [22]:
region_df.select("province","city").limit(5).show()

+--------+-----------+
|province|       city|
+--------+-----------+
|   Seoul|      Seoul|
|   Seoul| Gangnam-gu|
|   Seoul|Gangdong-gu|
|   Seoul| Gangbuk-gu|
|   Seoul| Gangseo-gu|
+--------+-----------+

In [23]:
timepro_df.limit(5).show()

+----------+----+--------+---------+--------+--------+
|      date|time|province|confirmed|released|deceased|
+----------+----+--------+---------+--------+--------+
|2020-01-20|  16|   Seoul|        0|       0|       0|
|2020-01-20|  16|   Busan|        0|       0|       0|
|2020-01-20|  16|   Daegu|        0|       0|       0|
|2020-01-20|  16| Incheon|        1|       0|       0|
|2020-01-20|  16| Gwangju|        0|       0|       0|
+----------+----+--------+---------+--------+--------+

## Q5. If you find the column name is not suitable, change the
## column name.[optional]

In [26]:
rename_case_df = case_df.withColumnRenamed('infection_case','area_of_infection')
rename_case_df.columns

[' case_id',
 'province',
 'city',
 'group',
 'area_of_infection',
 'confirmed',
 'latitude',
 'longitude']

## q6. Select the subset of the columns.

In [30]:
rename_case_df.select(" case_id","city","confirmed").limit(5).show()

+--------+------------+---------+
| case_id|        city|confirmed|
+--------+------------+---------+
| 1000001|  Yongsan-gu|      139|
| 1000002|   Gwanak-gu|      119|
| 1000003|     Guro-gu|       95|
| 1000004|Yangcheon-gu|       43|
| 1000005|   Dobong-gu|       43|
+--------+------------+---------+

## If there is any null value, fill it with any random value or drop it.

In [31]:
#to remove the rows holding null value
rename_case_df.na.drop()

DataFrame[ case_id: int, province: string, city: string, group: boolean, area_of_infection: string, confirmed: int, latitude: string, longitude: string]

In [35]:
# fill the missing value of city 

filled_df = rename_case_df.na.fill("-1",["latitude"])
filled_df.limit(7).show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|   area_of_infection|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+

In [39]:
# multiple filters

filled_df.filter((filled_df["province"] == "Seoul") &
                 (filled_df["confirmed"] >= 10)
            ).select(["area_of_infection","confirmed"]).show()

+--------------------+---------+
|   area_of_infection|confirmed|
+--------------------+---------+
|       Itaewon Clubs|      139|
|             Richway|      119|
| Guro-gu Call Center|       95|
|Yangcheon Table T...|       43|
|     Day Care Center|       43|
|Manmin Central Ch...|       41|
|SMR Newly Planted...|       36|
|       Dongan Church|       17|
|Coupang Logistics...|       25|
|     Wangsung Church|       30|
|Eunpyeong St. Mar...|       14|
|    Seongdong-gu APT|       13|
|Jongno Community ...|       10|
|   KB Life Insurance|       13|
|     overseas inflow|      298|
|contact with patient|      162|
|                 etc|      100|
+--------------------+---------+

## sort/order by steps in spark

In [60]:
from pyspark.sql.functions import col,sum

In [43]:
confirmed_asc_df = filled_df.sort(col("confirmed").asc())
confirmed_asc_df.limit(5).show()

+--------+----------+---------------+-----+--------------------+---------+---------+----------+
| case_id|  province|           city|group|   area_of_infection|confirmed| latitude| longitude|
+--------+----------+---------------+-----+--------------------+---------+---------+----------+
| 1000030|     Seoul|     Gangseo-gu| true|SJ Investment Cal...|        0|37.559649|126.835102|
| 3000007|Gangwon-do|              -|false|contact with patient|        0|        -|         -|
| 7000002|   Jeju-do|              -|false|contact with patient|        0|        -|         -|
| 1100007|     Busan|from other city| true|Cheongdo Daenam H...|        1|        -|         -|
| 1000034|     Seoul|              -| true|         Orange Life|        1|        -|         -|
+--------+----------+---------------+-----+--------------------+---------+---------+----------+

In [47]:
confirmed_asc_df = filled_df.sort(col("confirmed").desc())
confirmed_asc_df.limit(5).show()

+--------+----------------+---------------+-----+--------------------+---------+--------+---------+
| case_id|        province|           city|group|   area_of_infection|confirmed|latitude|longitude|
+--------+----------------+---------------+-----+--------------------+---------+--------+---------+
| 1200001|           Daegu|         Nam-gu| true|  Shincheonji Church|     4511|35.84008| 128.5667|
| 1200009|           Daegu|              -|false|contact with patient|      917|       -|        -|
| 1200010|           Daegu|              -|false|                 etc|      747|       -|        -|
| 6000001|Gyeongsangbuk-do|from other city| true|  Shincheonji Church|      566|       -|        -|
| 2000020|     Gyeonggi-do|              -|false|     overseas inflow|      305|       -|        -|
+--------+----------------+---------------+-----+--------------------+---------+--------+---------+

In [53]:
# Sort DataFrame by the "age" column, converting all values to integers
casted_df = confirmed_asc_df.withColumn("latitude", col("latitude").cast("float"))

In [54]:
casted_df.limit(4).show()

+--------+----------------+---------------+-----+--------------------+---------+--------+---------+
| case_id|        province|           city|group|   area_of_infection|confirmed|latitude|longitude|
+--------+----------------+---------------+-----+--------------------+---------+--------+---------+
| 1200001|           Daegu|         Nam-gu| true|  Shincheonji Church|     4511|35.84008| 128.5667|
| 1200009|           Daegu|              -|false|contact with patient|      917|    null|        -|
| 1200010|           Daegu|              -|false|                 etc|      747|    null|        -|
| 6000001|Gyeongsangbuk-do|from other city| true|  Shincheonji Church|      566|    null|        -|
+--------+----------------+---------------+-----+--------------------+---------+--------+---------+

In [55]:
casted_df.describe()

DataFrame[summary: string,  case_id: string, province: string, city: string, area_of_infection: string, confirmed: string, latitude: string, longitude: string]

In [64]:
grouped_df = casted_df.groupBy(["province","city"]).agg(sum("confirmed"))
grouped_df.show()

+----------------+---------------+--------------+
|        province|           city|sum(confirmed)|
+----------------+---------------+--------------+
|Gyeongsangnam-do|       Jinju-si|             9|
|           Seoul|        Guro-gu|           139|
|           Seoul|     Gangnam-gu|            18|
|         Daejeon|              -|           100|
|    Jeollabuk-do|from other city|             6|
|Gyeongsangnam-do|Changnyeong-gun|             7|
|           Seoul|              -|           561|
|         Jeju-do|from other city|             1|
|Gyeongsangbuk-do|              -|           345|
|Gyeongsangnam-do|   Geochang-gun|            18|
|Gyeongsangbuk-do|        Gumi-si|            10|
|         Incheon|from other city|           117|
|           Busan|              -|            85|
|           Daegu|         Seo-gu|           124|
|           Busan|     Suyeong-gu|             5|
|     Gyeonggi-do|   Uijeongbu-si|            50|
|           Seoul|     Yongsan-gu|           139|
|           Daegu|              -|          1705|
|           Seoul|   Seodaemun-gu|             5|
|     Gyeonggi-do|    Seongnam-si|            94|
+----------------+---------------+--------------+
only showing top 20 rows

In [74]:
join_df = grouped_df.join(region_df, ['province','city'],how='inner')

In [75]:
join_df.select()

DataFrame[]