In [1]:
print("hello world")

hello world

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl (10.8 MB)
                                              0.0/10.8 MB ? eta -:--:--
     ----                                     1.2/10.8 MB 26.4 MB/s eta 0:00:01
     -----                                    1.4/10.8 MB 28.8 MB/s eta 0:00:01
     -----                                    1.4/10.8 MB 28.8 MB/s eta 0:00:01
     -----                                    1.4/10.8 MB 28.8 MB/s eta 0:00:01
     -----                                    1.4/10.8 MB 28.8 MB/s eta 0:00:01
     -----                                    1.5/10.8 MB 5.6 MB/s eta 0:00:02
     -------                                  2.1/10.8 MB 6.8 MB/s eta 0:00:02
     -----------                              3.2/10.8 MB 8.9 MB/s eta 0:00:01
     ------------                             3.4/10.8 MB 8.4 MB/s eta 0:00:01
     -------------                            3.7/10.8 MB 8.1 MB/s eta 0:00:01
     --------------                           3.9/10.8 MB 7.7 MB/s eta 0:00:01
     --------------                           4.0/10.8 MB 7.3 MB/s eta 0:00:01
     ---------------                          4.2/10.8 MB 7.1 MB/s eta 0:00:01
     ----------------                         4.5/10.8 MB 7.0 MB/s eta 0:00:01
     -----------------                        4.7/10.8 MB 6.8 MB/s eta 0:00:01
     ------------------                       5.0/10.8 MB 6.8 MB/s eta 0:00:01
     -------------------                      5.3/10.8 MB 6.7 MB/s eta 0:00:01
     --------------------                     5.5/10.8 MB 6.7 MB/s eta 0:00:01
     ---------------------                    5.8/10.8 MB 6.7 MB/s eta 0:00:01
     ----------------------                   6.2/10.8 MB 6.7 MB/s eta 0:00:01
     -----------------------                  6.5/10.8 MB 6.7 MB/s eta 0:00:01
     ------------------------                 6.7/10.8 MB 6.6 MB/s eta 0:00:01
     -------------------------                7.0/10.8 MB 6.6 MB/s eta 0:00:01
     ---------------------------              7.3/10.8 MB 6.6 MB/s eta 0:00:01
     ----------------------------             7.6/10.8 MB 6.6 MB/s eta 0:00:01
     -----------------------------            8.0/10.8 MB 6.6 MB/s eta 0:00:01
     ------------------------------           8.4/10.8 MB 6.8 MB/s eta 0:00:01
     --------------------------------         8.7/10.8 MB 6.8 MB/s eta 0:00:01
     --------------------------------         8.9/10.8 MB 6.7 MB/s eta 0:00:01
     ---------------------------------        9.1/10.8 MB 6.6 MB/s eta 0:00:01
     ----------------------------------       9.2/10.8 MB 6.5 MB/s eta 0:00:01
     ----------------------------------       9.5/10.8 MB 6.4 MB/s eta 0:00:01
     -----------------------------------      9.7/10.8 MB 6.4 MB/s eta 0:00:01
     ------------------------------------     10.0/10.8 MB 6.4 MB/s eta 0:00:01
     -------------------------------------    10.3/10.8 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.8 MB 6.2 MB/s eta 0:00:01
     ---------------------------------------  10.8/10.8 MB 6.1 MB/s eta 0:00:01
     ---------------------------------------- 10.8/10.8 MB 6.0 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
                                              0.0/527.0 kB ? eta -:--:--
     -------------------------              348.2/527.0 kB 7.3 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 8.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector as conn

In [5]:
mydb = conn.connect(host='localhost',user='newuser',passwd='newpassword')

In [6]:
cursor = mydb.cursor()

In [7]:
cursor.execute("show databases")

In [8]:
cursor.fetchall()

[('information_schema',), ('performance_schema',), ('quotes',)]

In [9]:
cursor.execute("use quotes")

In [10]:
cursor.execute("SELECT * FROM kafka_sql_cassandra")

In [11]:
cursor.fetchall()

[(0,
  'Cadboury Silk',
  datetime.date(2023, 5, 12),
  100,
  datetime.datetime(2023, 7, 21, 9, 12, 53),
  datetime.datetime(2023, 7, 21, 9, 12, 53))]

In [12]:
data_list = [
   {'id':1,"prod_name": "Nestle Kitkat","expiry_date":"2023-05-21","rate":50},
   {'id':2,"prod_name": "Snickers","expiry_date":"2023-07-18","rate":100},
   {'id':3,"prod_name": "Hershey","expiry_date":"2023-01-21","rate":200},
   {'id':4,"prod_name": "Milky Way","expiry_date":"2023-09-19","rate":120},
   {'id':5,"prod_name": "Kinder Chocolate","expiry_date":"2023-12-06","rate":10},
]

In [14]:
for data in data_list:
    cursor.execute(f"INSERT INTO kafka_sql_cassandra (ID,prod_name,expiry_date, rate) VALUES ({data['id']},'{data['prod_name']}','{data['expiry_date']}',{data['rate']});")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'kafka_sql_cassandra.PRIMARY'

In [15]:
cursor.execute("commit")

In [16]:
cursor.execute("SELECT * FROM kafka_sql_cassandra")
cursor.fetchall()

[(0,
  'Cadboury Silk',
  datetime.date(2023, 5, 12),
  100,
  datetime.datetime(2023, 7, 21, 9, 12, 53),
  datetime.datetime(2023, 7, 21, 9, 12, 53)),
 (1,
  'Nestle Kitkat',
  datetime.date(2023, 5, 21),
  50,
  datetime.datetime(2023, 7, 22, 5, 13, 14),
  datetime.datetime(2023, 7, 22, 5, 13, 14)),
 (2,
  'Snickers',
  datetime.date(2023, 7, 18),
  100,
  datetime.datetime(2023, 7, 22, 5, 13, 14),
  datetime.datetime(2023, 7, 22, 5, 13, 14)),
 (3,
  'Hershey',
  datetime.date(2023, 1, 21),
  200,
  datetime.datetime(2023, 7, 22, 5, 13, 14),
  datetime.datetime(2023, 7, 22, 5, 13, 14)),
 (4,
  'Milky Way',
  datetime.date(2023, 9, 19),
  120,
  datetime.datetime(2023, 7, 22, 5, 13, 14),
  datetime.datetime(2023, 7, 22, 5, 13, 14)),
 (5,
  'Kinder Chocolate',
  datetime.date(2023, 12, 6),
  10,
  datetime.datetime(2023, 7, 22, 5, 13, 14),
  datetime.datetime(2023, 7, 22, 5, 13, 14))]